<div class="form-base address-update">
  <ul class="group-list">
    <li>
      <label><span class="tit">收货人：</span><input type="text" class="input-text"></label>
    </li>
    <li>
      <label><span class="tit">联系方式：</span><input type="text" class="input-text"></label>
    </li>
    <li>
      <label><span class="tit">所在区域：</span><input type="text" class="input-text" id='city-picker'></label>
    </li>
    <li>
      <label><span class="tit">详细地址：</span><input type="text" class="input-text"></label>
    </li>
  </ul>
</div>
