
<ul class="link-list">
  <li data-link="index">首页</li>
  <li data-link="list">列表页</li>
  <!-- <li data-link="order">去下单页</li> -->
  <!-- <li data-link="address">选择地址</li> -->
  <!-- <li data-link="address_update">新增地址</li> -->
  <li data-link="order_success?oid=2147483999">下单成功</li>
  <li data-link="quick_login">快捷登录</li>
</ul>
<h3>特殊页面</h3>
<ul class="link-list">
  <li><a href="/jump.html?oid=2147483999">支付回跳页面：/jump.html?oid=XXX</a></li>
  <li><a href="http://static.haoshiqi.net/serviceprotocol.html" data-link='iframe_page' title="好食期用户协议">好食期用户协议</a></li>
  <!-- <li><a href="/zhuti/reg_awards.html">主题活动：推荐有奖</a></li> -->
  <li data-link="zt_reg_awards">主题活动：推荐有奖</li>
</ul>
<h3>组件及功能测试</h3>
<ul class="link-list">
  <li class="j_test" data-type="toast">showToast</li>
  <li class="j_test" data-type="alert">showAlert</li>
  <li class="j_test" data-type="show404">显示404界面</li>
  <li class="j_test" data-type="storage">缓存测试
    <span class="btn btn-blue" data-type="save">存储</span>
    <span class="btn btn-blue" data-type="update">更新</span>
    <span class="btn btn-blue" data-type="read">读取</span>
    <span class="btn btn-pink" data-type="remove">移除</span>
    <span class="btn btn-pink" data-type="clear">清空</span>
  </li>
</ul>
