
<div class="xcard order-success hsq_box">
  <script type="text/template" id="tpl_hsq_box">
  <div class="tips">
    <h3>恭喜您，付款成功！</h3>
    <p>订单号：<%=order.id%> 订单金额：&yen;<%=_.formatPrice(order.total_price)%></p>
  </div>
  <div class="order-info">
    <%order.skuList.forEach(function(item){%>
    <dl class="info-item border-top-line">
      <dd class="oper fr">
        <dfn class="price">&yen;<%=_.formatPrice(item.unit_price)%></dfn>
        <p class="num">&times; <%=item.amount%></p>
      </dd>
      <dt class="img fl"><img src="<%=item.skuThumbnail%>" alt=""></dt>
      <dd class="text">
        <h5><%=item.sku_name%></h5>
        <p><%=_.pluck(item.attrs, 'value').join('<i class="v-line"></i>')%></p>
      </dd>
    </dl>
    <%})%>
  </div>
  </script>
</div>

<div class="xcard more-tips">
  <h4>查看订单和物流状态，请安装好食期 APP</h4>
  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.doweidu.android.haoshiqi" class="btn btn-blue">下载好食期 APP</a>
  <p>您的手机号就是好食期的登录账号</p>
</div>
