
<div class="xcard">
  <div class="address-using iconfont icon-link" data-link='address'>
    <h4>徐某某</h4>
    <h4>186****4312</h4>
    <p>上海徐汇区城区钦州路100号2号楼XXX室</p>
  </div>
</div>

<div class="xcard">
  <div class="order-info">
    <dl class="info-item">
      <dd class="oper fr">
        <dfn class="price">&yen;4.95</dfn>
        <p class="num">&times; 4</p>
      </dd>
      <dt class="img fl"><img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt=""></dt>
      <dd class="text">
        <h5>产品标题，这是国外进口各种产品标题详细描述的标题</h5>
        <p>苹果味<i class="v-line"></i>320g</p>
      </dd>
    </dl>
  </div>
  <div class="order-info-total border-top-line">
    <span class="text">共4件商品</span><span class="text">合计：<dfn class="price">&yen;19:00</dfn></span>
  </div>
</div>

<div class="xcard">
  <ul class="payway-list">
    <li class="iconfont icon-selected selected" data-type="alipay">
      <i class="iconfont icon-alipay"></i>使用支付宝支付
    </li>
  </ul>
</div>

<div class="xcard">
  <div class="invoice">
    <div class="header"><i class="iconfont icon-select icon-selected"></i> 开具发票</div>
    <div class="invoice-info">
      <div class="types border-top-line">
        <div class="label-line">
          <span class="tit">类型：</span>
          <p>
            <label><i class="iconfont icon-select icon-selected"></i> 个人</label>
            <label><i class="iconfont icon-select"></i> 公司</label>
          </p>
        </div>
      </div>
      <div class="title border-top-line">
        <label class="label-line"><span class="tit">抬头：</span><input type="text" class="input-text"></label>
      </div>
    </div>
  </div>
</div>

<div class="fexed_footer">
  <div class="order-pay">
    <span class="pay-btn">立即付款 &yen;19.00</span>
    <span class="pay-countdown">付款剩余时间：<i id="pay_ct">59分59秒</i></span>
  </div>
</div>
