
<div class="xcard order-success">
  <div class="tips border-bottom-line">
    <h3>恭喜您，付款成功！</h3>
    <p>订单号：10893443483 订单金额：&yen;46.00</p>
  </div>
  <div class="order-info">
    <dl class="info-item">
      <dd class="oper fr">
        <dfn class="price">&yen;4.95</dfn>
        <p class="num">&times; 4</p>
      </dd>
      <dt class="img fl"><img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt=""></dt>
      <dd class="text">
        <h5>产品标题，这是国外进口各种产品标题详细描述的标题</h5>
        <p>苹果味<i class="v-line"></i>320g</p>
      </dd>
    </dl>
  </div>
</div>

<div class="xcard more-tips">
  <h4>查看订单和物流状态，请安装好食期 APP</h4>
  <a href="javascript:;" class="btn btn-blue">下载好食期 APP</a>
  <p>您的手机号就是好食期的登录账号</p>
</div>
