

<div class="hsq_box">
  <script type="text/template" id="tpl_hsq_box">
    <div class="xcard">
      <div class="address-using iconfont icon-link" data-link='address'>
        <%if(address){%>
        <h4><%=address.contacter%></h4>
        <h4><%=address.mobile%></h4>
        <p><%=address.detail%></p>
        <%}else{%>
        <p class="no-address">请添加收货地址</p>
        <%}%>
      </div>
    </div>

    <%pInfo.itemList.forEach(function(pItem){%>
    <div class="xcard">
      <div class="order-info">
        <%pItem.skuList.forEach(function(item){%>
        <dl class="info-item border-bottom-line">
          <dd class="oper fr">
            <dfn class="price">&yen;<%=_.formatPrice(item.orderPrice)%></dfn>
            <p class="num">&times; <%=item.orderAmount%></p>
          </dd>
          <dt class="img fl"><img src="<%=item.skuThumbnail%>" alt=""></dt>
          <dd class="text">
            <h5><%=item.name%></h5>
            <p><%=_.pluck(item.attrs, 'value').join('<i class="v-line"></i>')%></p>
          </dd>
        </dl>
        <%})%>
      </div>
      <div class="order-info-total">
        <span class="text">共<%=pItem.totalAmount%>件商品</span><span class="text">合计：<dfn class="price">&yen;<%=_.formatPrice(pItem.totalPrice)%></dfn></span>
      </div>
    </div>
    <%})%>

    <div class="xcard">
      <ul class="payway-list">
        <li class="iconfont icon-selected selected" data-type="alipay">
          <i class="iconfont icon-alipay"></i>使用支付宝支付
        </li>
      </ul>
    </div>

    <div class="xcard">
      <div class="invoice">
        <div class="header J_s_invoice"><i class="iconfont icon-select"></i> 开具发票</div>
        <div class="invoice-info hide">
          <div class="types border-top-line">
            <div class="label-line">
              <span class="tit">类型：</span>
              <p class="J_s_invoice_types">
                <label data-type="personal"><i class="iconfont icon-select icon-selected"></i> 个人</label>
                <label data-type="company"><i class="iconfont icon-select"></i> 公司</label>
              </p>
            </div>
          </div>
          <div class="title border-top-line">
            <label class="label-line"><span class="tit">抬头：</span><input type="text" class="input-text J_invoice_title" placeholder="请填写发票抬头"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="fexed_footer">
      <div class="order-pay">
        <span class="pay-btn fr J_go_pay">立即付款 &yen;<%=_.formatPrice(pInfo.totalPrice)%></span>
        <span class="pay-countdown">请在1小时内付款</span>
      </div>
    </div>
  </script>
</div>
