
<div class="quick-login">
  <div class="top">
    <img class="hsq-img" src="images/qlogin.jpg" alt="">
    <h3>好食期--专做食品特卖</h3>
  </div>
  <div class="form-base quick-form">
    <ul class="xcard group-list">
      <li>
        <p class="code-box">
          <i class="v-line"></i>
          <span class="get_phone_code">获取验证码</span>
        </p>
        <input type="tel" class="input-text" placeholder="请输入手机号">
      </li>
      <li><input type="tel" class="input-text" placeholder="请输入验证码"></li>
    </ul>
    <div class="other">
      <p class="protocol">
        <label class="block"><input type="checkbox"> 同意<a href="#protocol">好食期用户协议</a></label>
      </p>
      <p class="btn btn-block btn-yellow">登录</p>
    </div>
  </div>
</div>
