
<div class="today_top10 hsq_box">
  <script type="text/template" id="tpl_hsq_box">
  <div class="bg_white">
    <div class="xcard zt_top10_card">
      <div class="banner">
        <img class="lazy" src="<%=imgPlaceHold%>" data-src="<%=introPic%>" alt="">
        <div class="text">
          <h1><%=title%></h1>
          <p><%=subTitle%></p>
          <span class="date"><%=date%></span>
        </div>
      </div>

      <div class="intro"><%=intro%></div>
    </div>

    <div class="top10_list">
      <%if(list.length){%>
        <%list.forEach(function(item, index){%>
        <div class="line-index"><i class="_index"><%=index+1%></i></div>
        <div class="xcard" data-pid="<%=item.id%>" data-sid="<%=item.skuInfo.id%>">
          <div class="content">
            <h3><%=item.skuInfo.name.replace(/\s*【(.*)】\s*/, '')%></h3>
            <p><%=item.skuInfo.desc%></p>
          </div>
          <div class="img">
            <img class="lazy" src="<%=imgPlaceHold%>" data-src="<%=item.skuInfo.thumbnail%>" alt="">
          </div>

          <div class="oper">
            <a data-pid="<%=item.id%>" data-sid="<%=item.skuInfo.id%>" class="btn btn-small btn-pink fr J_go_detail">去购买</a>
            <dfn class="price">&yen; <%=(item._format_price)%></dfn>
            <del class="price"><%=(item.skuInfo.market_price*0.01).toFixed(2)%></del>
          </div>
        </div>
        <%})%>
      <%}else{%>
        <p>商品已下线</p>
      <%}%>
    </div>
  </div> <!-- //.bg_white -->

  <div class="xcard zt_top10_banner hide">
    <h3>每日Top 10件</h3>
    <p>我们花时间，替您省钱又Hold住品质，您只需要<br>买买买！</p>
    <div data-link="zt_top10" class="link-more border-top-line">查看全部</div>
  </div>
  </script>
</div>
