
<div class="zt_top10">
  <div class="xcard banner">
    <h3>每日Top 10件</h3>
    <p>我们花时间，替您省钱又Hold住品质，您只需要<br>买买买！</p>
  </div>

  <div class="zt_top10_list">
    <div class="xcard zt_top10_card">
      <div class="banner">
        <img class="lazy" src="<%=imgPlaceHold%>" data-src="<%=introPic%>" alt="">
        <div class="text">
          <h1><%=title%></h1>
          <p><%=subTitle%></p>
          <span class="date"><%=date%></span>
        </div>
      </div>

      <div class="intro"><%=intro%></div>
      <a href="###" class="link-detail">查看详情</a>
  </div>
</div>
