
<ul class="link-list">
  <li data-link="index">首页</li>
  <li data-link="list">列表页</li>
  <li data-link="detail">详情页</li>
</ul>

<div class="slider">
  <img src="" alt="">
</div>

<!--产品描述-->
<div class="hsq-card detail-desc">
  <ul class="list">
    <li>
      <h3 class="title">
        燕麦能量球 日本进口 燕麦麦芽饼干 花生味杏仁味 巧克力味 246g/盒
      </h3>
      <p class="info-line">
        <span class="price">&yen;14.5923434</span>
        <del>199.00</del>
        <span class="num">仅剩3000件</span>
      </p>
    </li>
    <li>保质期至：2015年12月31日</li>
    <li>已选择：原味，246g/盒，1个</li>
    <li>100%正品保证</li>
  </ul>
</div>

<!--评价晒单-->
<div class="hsq-card card-comments">
  <div class="card-title">
    <h3 class="tit">评价晒单</h3>
    <span class="link-more">134条评论</span>
  </div>
  <ul class="list-comments">
    <li>
      <p class="c-info">
        <span class="author">Alice</span>
        <span class="time">2015-11-07 09:15:34</span>
        <span class="stars"></span>
      </p>
      <div class="content">
        <p>味道我很喜欢，价格公道；就是包装真的不方便快递，总得来说还算满意，还会再来的</p>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </li>
    <li>
      <p class="c-info">
        <span class="author">Alice</span>
        <span class="time">2015-11-07 09:15:34</span>
        <span class="stars"></span>
      </p>
      <div class="content">
        <p>味道不错，价格很便宜</p>
      </div>
    </li>
    <li>
      <p class="c-info">
        <span class="author">Alice</span>
        <span class="time">2015-11-07 09:15:34</span>
        <span class="stars"></span>
      </p>
      <div class="content">
        <p>味道不错，价格很便宜</p>
      </div>
    </li>
  </ul>
</div>

<!--图文详情-->
<div class="hsq-card detail-article">
  <div class="card-title">
    <h3 class="tit">评价晒单</h3>
    <span class="link-more">134条评论</span>
  </div>
  <div class="main-article">
    <img src="" alt="">
    早上没有吃早餐的时候，来上几颗，感觉一上午都不会觉得饿啦！<br>
    口感略稍脆硬，用料丰富！
    <img src="" alt="">
    更多详情描述
  </div>
</div>
