
//每日 top 10

.zt_top10_card{
  .banner {
    position: relative;
    padding-bottom: 1px;

    .img{
      z-index: 1;
    }
    .text{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      padding-top: 20%;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);

      h1{
        margin: 0 0 fontsize(10);
        font-size: fontsize(30);
        font-weight: bold;
      }
      p{
        box-sizing: content-box;
        display: inline-block;
        padding: 0 fontsize(10);
        border: 1px solid #fff;
        height: fontsize(30);
        line-height: fontsize(30);
        font-size: fontsize(18);
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .date{
      position: absolute;
      bottom: fontsize(5);;
      right: fontsize(10);
      font-size: fontsize(12);
    }

  }

  .intro{
    margin: fontsize(16) 0;
    padding: 0 fontsize(16);
  }
}

.today_top10{
  color: $color-grayer;

  p{
    line-height: fontsize(18);
  }

  .line-index{
    position: relative;
    margin: fontsize(30) fontsize(16) fontsize(20);
    height: fontsize(10);
    border-top: 1px solid $color-title;
    text-align: center;
    counter-increment: todaytopnumber;

    &:before,
    i._index,
    &:after{
      content: '';
      position: relative;
      display: block;
      margin: 0 auto;
      top: fontsize(-10);
      font-style: normal;
    }

    &:before{
      background: #fff;
      width: fontsize(60);
      height: fontsize(20);
    }

    i._index,
    &:after{
      display: inline-block;
      top: fontsize(-30);
      padding: 0 fontsize(6);
      width: auto;
      height: fontsize(20);
      border-radius: fontsize(100);
      background: $yellow;
      color: $color-title;
    }
    &:after{
      display: none;
      //红米 note 支持此属性有差异，索引从 0 开始
      content: counter(todaytopnumber);
    }
    i._index{

    }
  }
  .xcard {
    .content,
    .intro{
      margin: fontsize(16) 0;
      padding: 0 fontsize(16);
    }

    .oper{
      margin: fontsize(16) 0 0;
      padding: 0 fontsize(16) fontsize(16);
    }

    h3{
      font-weight: normal;
      text-align: center;
      color: $color-font;
    }

    p:empty{
      display: none;
    }
  }

  .banner img.lazy{
    width: 100%;
    min-height: fontsize(180);
  }

  .top10_list .img{
    overflow: hidden;
    min-height: fontsize(160);
    text-align: center;
  }

  // .top10_list ._v_m {
  //   width: 0;
  //   height: 100%;
  //   display: inline-block;
  //   vertical-align: middle;
  // }
  .top10_list img.lazy {
    width: 100%;

    display: inline-block;
    vertical-align: middle;
    // margin-top: -10%;
    // margin-bottom: -10%;
  }
}

.zt_top10_banner{
  padding: fontsize(16) 0 0;
  text-align: center;
  color: $color-font;

  h3{
    font-weight: normal;
    font-size: fontsize(16);
  }
  p{
    font-size: fontsize(12);
    color: $color-grayer;
  }
  .link-more{
    padding: fontsize(10) 0;
  }
}
