
// 地址管理
.address-list{
  li {
    margin-bottom: fontsize(10);
    padding: fontsize(16) fontsize(10);
    background: #fff;

    &.icon-check:before{
      position: absolute;
      right: fontsize(8);
      top: 50%;
      margin-top: fontsize(-24);
    }
  }
  span.name{
    font-size: fontsize(16);
    display: inline-block;
    min-width: fontsize(80);
  }
}
.address-list li,
.address-using{
  position: relative;

  &.selected{
    background: $hsq-lighter;
  }
  h4{
    font-weight: normal;
    font-size: fontsize(16);
  }
  p{
    margin-bottom: 0;
    color: $hsq-gray;
  }
}
.address-using {
  padding: fontsize(16) fontsize(10) fontsize(10);
  &:before{
    position: absolute;
    right: 0;
    top:50%;
    display: inline-block;
    width: fontsize(30);
    height: fontsize(40);
    margin-top: fontsize(-10);
    font-size: fontsize(20);
    color: $hsq-gray;
  }
}

//新增、编辑地址
.address-update{
  input.input-text {
    padding-left: fontsize(90);
  }
}
