/* 详情页 */
.page-view-detail{
  // padding-bottom: fontsize(50) !important;
}

.page-view-detail,
.page-detail {
  .swiper-container {
    height: 15rem;
    background: #fff;
  }
  .swiper-slide img {
    width: 100%;
  }
}
.swiper-pagination-bullet{background: none; border: 1px solid #fff; opacity: 1;}
.swiper-pagination-bullet-active{background: #fff;}


/*详情页*/

.detail-desc {
  .group-list .tit{
    font-size: fontsize(16);
    line-height: fontsize(18);
    margin:0 0 fontsize(10) 0;
  }
  li{
    padding: fontsize(10);
  }
  .price{
    margin-right: fontsize(10);
  }
  del{
    color: $color-gray;
  }
  .num{
    font-size: fontsize(12);
    color: $color-grayer;
  }
  .label{
    color: $color-grayer;
  }
  .ib-label{
    display: inline-block;
    margin-right: fontsize(10);
  }
  .icon-label{margin-top: -2px;}
}

.card-comments {
  .list-comments{
    padding: 0 0 0 fontsize(10);
  }
  .list-comments li{
    padding: fontsize(10) fontsize(10) fontsize(10) 0;
  }
  .c-info{
    margin-bottom: fontsize(5);
    font-size: fontsize(12);
    color: $color-grayer;

    .author,
    .time {
      display: inline-block;
      margin-right: fontsize(10);
    }
  }
  .stars{
    color: $color-star;

    .icon-star:before{
      font-size: fontsize(12);
    }
  }
  img {
    display: inline-block;
    margin-right: fontsize(5);
    width: fontsize(45);
    height: fontsize(45);
  }
  .imgbox{
    margin-top: fontsize(8);
  }
}
.detail-article{
  margin-bottom: 0;
  padding-bottom: fontsize(40);
}
.main-article {
  min-height: 10rem;
  padding-bottom: 1px;
  img{
    display: block;
    margin: 0 auto;
    min-height: fontsize(100);
    // max-width: 100%;
    width: 100%;
  }
  // p{
  //   margin:fontsize(10) 0;
  //   padding: 0 fontsize(10);
  // }
}
.stars-score-0 {
  i.icon-star:nth-of-type(n+1){
    color: rgba(216, 216, 216, 1);
  }
}
.stars-score-1 {
  i.icon-star:nth-of-type(n+2){
    color: rgba(216, 216, 216, 1);
  }
}
.stars-score-2 {
  i.icon-star:nth-of-type(n+3){
    color: rgba(216, 216, 216, 1);
  }
}
.stars-score-3 {
  i.icon-star:nth-of-type(n+4){
    color: rgba(216, 216, 216, 1);
  }
}
.stars-score-4 {
  i.icon-star:nth-of-type(n+5){
    color: rgba(216, 216, 216, 1);
  }
}
.stars-score-5 {
  i.icon-star:nth-of-type(n+6){
    color: rgba(216, 216, 216, 1);
  }
}
