
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1456989254_7792046.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1456989254_7792046.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1456989254_7792046.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1456989254_7792046.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1456989254_7792046.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-loading:before {
  content: "\e619";
}
.icon-star:before {
  content: "\e602";
}
.icon-app:before {
  content: "\e609";
}
.icon-home:before {
  content: "\e60c";
}
.icon-favorite:before {
  content: "\e611";
}
.icon-safe:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e617";
}
.icon-map:before {
  content: "\e618";
}
.icon-cart:before {
  content: "\e605";
}
.icon-share:before {
  content: "\e608";
}
.icon-atm:before {
  content: "\e603";
}
.icon-set:before {
  content: "\e616";
}
.icon-people:before {
  content: "\e601";
}
.icon-edit:before {
  content: "\e600";
}
.icon-check:before {
  content: "\e615";
  color: $pink;
  font-size: fontsize(32);
}
.icon-link:before {
  content: "\e614";
  color: $hsq-gray;
}
.icon-back:before {
  content: "\e606";
  color: $mainColor;
}
.icon-alipay:before {
  content: "\e61a";
  color: #1dabeb;
}
.icon-select:before {
  content: "\e61c";
  color: $hsq-gray;
}
.icon-selected:before {
  content: "\e61b";
  color: $pink;
}

.icon-minus:before {
  content: "\e61d";
}
.icon-plus:before {
  content: "\e61e";
}


img.icon-label{display: inline-block; height: fontsize(15); }
