

/* 下单成功页面 */
.order-success{
  
  .tips{
    padding: fontsize(25) fontsize(10) 0;
    h3{
      margin-bottom: fontsize(10);
      font-size: fontsize(18);
      text-align: center;
      font-weight: normal;
    }
    p{
      color: $hsq-gray;
    }
  }
  .order-info{
    margin: fontsize(10) 0;
    border-top: 1px solid $hsq-lighter;

    .info-item{
      padding: fontsize(16) fontsize(10);
    }

    .img{
      margin-right: fontsize(10);
      img{
        width: fontsize(50);
        height: fontsize(50);
      }
    }
    dd.oper{
      width: fontsize(80);
      text-align: right;
      p{
        margin: 0;
      }
      .price{
        display: block;
        height: fontsize(32);
        font-size: fontsize(16);
      }
    }
    dd.text{
      font-size: fontsize(12);
      overflow: hidden;
      h5{
        height: fontsize(32);
        margin: 0 0 fontsize(4);
        font-weight: normal;
        line-height: 1.4;
        color: #000;
        overflow: hidden;
      }
      p{
        color: $hsq-gray;
      }
    }
  }
}

.more-tips{
  padding: fontsize(25) fontsize(10);
  text-align: center;

  h4{
    margin-bottom: fontsize(25);
    font-size: fontsize(16);
    font-weight: normal;
  }

  p{
    margin: fontsize(25) 0 0;
    color: $hsq-gray;
  }
}
