

.link-list{
  line-height: fontsize(30);
  li{
    padding: 0 fontsize(10);

    &:hover{
      background: $bg-light;
    }
    &:active{
      background: $bg-light;
    }
  }
}

.page-view-index{
  h3{
    margin: fontsize(20) 0 fontsize(10);
    padding: 0 fontsize(10);
  }
  .j_test .btn{
    height: fontsize(30);
    line-height: fontsize(30);
    font-size: fontsize(14);
    padding: 0 fontsize(10);
  }
}
