

$mainColor: #6A3905;
$bodyBg: #f1f1f1;
$hsq-gray: #959595;
$hsq-grayer: #AEAEAE;
$hsq-light: #d4d4d4;
$hsq-lighter: #E4E4E4;
$hsq-lightest: #f7f7f7;

$color-light: rgb(196, 196, 196);   //#C4C4C4
$color-lighter: rgb(228, 228, 228);   //#E4E4E4

$yellow: #FFEE11;
$yellow-active: #F2E110;
$pink: #FF5555;
