

$bg_reg_awards: #d54242;  //rgb(213, 66, 66);  //#d54242;

//推荐有奖
.page-view-zt_reg_awards{
  background: $bg_reg_awards;
}
.reg_awards{
  .quick-form{
    .group-list,
    .other{
      background: none;
      box-sizing: border-box;
      padding: 0 fontsize(16);
    }

    .group-list{
      padding-top: fontsize(10);
    }

    li{
      border-top:1px solid rgba(255, 85, 85, 1);
    }

    .get_phone_code{
      &{
        color: $bg_reg_awards;
      }
    }

    .btn-yellow{
      margin-top: fontsize(10);
    }
  }
}

.zhuti_box {
  .rules {
    padding: fontsize(10) fontsize(16);
  }
}
.reg_awards {
  .rules{
    color: #fff;
    .header {
      text-align: center;
    }
    .tit{
      position: relative;
      top: fontsize(-23);
      display: inline-block;
      padding: 0 fontsize(10);
      font-size: fontsize(16);
      background: $bg_reg_awards;
    }
    .content{
      font-size: fontsize(14);
    }
  }
}

.reg_awards_step2{
  padding: fontsize(10) fontsize(16);

  .coupon-item{
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: fontsize(10);
  }
}
