
//主题活动

$reg_reward_c1: #d54242;  //rgb(213, 66, 66);
$reg_reward_c2: #ffee11;  //rgb(255, 238, 17);
$reg_reward_c3: #ff5555;  //rgb(255, 85, 85);

//推荐有奖
.page-view-zt_reg_reward{
  background: $reg_reward_c1;
}

.reg_reward {
  p{
    color: #fff;
  }
  .quick-form{
    .group-list,
    .other{
      margin-top: fontsize(16);
      background: none;
      box-sizing: border-box;
      padding: 0 fontsize(16);
    }

    .group-list{
      padding-top: fontsize(10);
    }

    li{
      border-top:1px solid $reg_reward_c3;
    }

    .get_phone_code{
      &{
        color: $reg_reward_c1;
      }
    }

    .btn-yellow{
      margin-top: fontsize(10);
    }
  }
  .rules{
    padding: fontsize(10) fontsize(16);
    color: #fff;
    .header {
      text-align: center;
    }
    .tit{
      position: relative;
      top: fontsize(-23);
      display: inline-block;
      padding: 0 fontsize(10);
      font-size: fontsize(16);
      background: $reg_reward_c1;
    }
    .content{
      font-size: fontsize(14);
    }
  }

  .c_1{
    color: $reg_reward_c2;
  }

  .btn-box{
    text-align: center;
    margin: fontsize(32) 0;

    .icon-detail-more{
      position: relative;
      padding-right: fontsize(50);
    }
    .icon-detail-more:before {
      // float: right;
      position: absolute;
      right: fontsize(20);
      top: 50%;
      margin-top: fontsize(-12);
      // margin-left: fontsize(10);
      width: fontsize(24);
      height: fontsize(24);
      line-height: fontsize(23);
      background: #E6D603;//rgba(145, 78, 7, 0.3);
      border-radius: fontsize(100);
      font-size: fontsize(16);
    }
  }
  .coupon-list{
    margin-top: fontsize(20);
    padding-top: 1px;
  }
  .coupon-item{
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: fontsize(16);

    p{
      font-size: fontsize(12);
      margin-bottom: 0;
    }

    .top{
      background: $reg_reward_c3;
      padding: fontsize(16) fontsize(10) fontsize(5) fontsize(20);
      border-bottom: 1px dotted #fff;
      min-height: fontsize(64);
    }

    dfn.price{
      color: #fff;
      font-size: 18px;
      line-height: 1;
      span{
        display: inline-block;
        font-size: fontsize(45);
        padding-left: fontsize(5);
      }
    }

    .text{
      overflow: hidden;
      text-align: right;
      color: #fff;

      font-size: fontsize(16);

      h4{
        font-weight: normal;
        margin-bottom: 0;
      }
    }

    .bottom {
      background: #fff;
      padding: 0 fontsize(10);

      height: fontsize(28);
      line-height: fontsize(28);

      p{color: $color-grayer;}
    }
  }

  .error-tip{
    padding: fontsize(10) fontsize(10) 1px;
    background: #fff;
    color: red;
    .text{
      // padding-left: fontsize(5);
      overflow: hidden;
      p {
        color: red;
      }
    }
  }
}
.reg_reward_step2{
  padding: 0 fontsize(16);
}
.reg_reward_step2,
.reg_reward_step3{

  .header{
    margin: fontsize(30) 0 fontsize(16);
    font-size: fontsize(18);
    color: #fff;

    p{
      margin: 0 0 fontsize(16);
    }
  }
}

.reg_reward_step1,
.reg_reward_step2,
.reg_reward_step3{
  display: none;
}

.reg_reward1 .reg_reward_step1,
.reg_reward2 .reg_reward_step2,
.reg_reward3 .reg_reward_step3{ display: block;}
.reg_reward3 .rules{ display: none;}



//每日 top 10
.page-view-today_top10{
  background: #fff;
}

.zt_top10_card{
  .banner {
    position: relative;
    padding-bottom: 1px;

    .img{
      z-index: 1;
    }
    .text{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      padding-top: 20%;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);

      h1{
        margin: 0 0 fontsize(10);
        font-size: fontsize(30);
        font-weight: bold;
      }
      p{
        box-sizing: content-box;
        display: inline-block;
        padding: 0 fontsize(10);
        border: 1px solid #fff;
        height: fontsize(30);
        line-height: fontsize(30);
        font-size: fontsize(18);
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .date{
      position: absolute;
      bottom: fontsize(5);;
      right: fontsize(10);
      font-size: fontsize(12);
    }

  }

  .intro{
    margin: fontsize(16) 0;
    padding: 0 fontsize(16);
  }
}

.today_top10{
  color: $color-grayer;

  p{
    line-height: fontsize(18);
  }

  .line-index{
    position: relative;
    margin: fontsize(30) fontsize(16) fontsize(20);
    height: fontsize(10);
    border-top: 1px solid $color-title;
    text-align: center;
    counter-increment: todaytopnumber;

    &:before,
    &:after{
      content: '';
      position: relative;
      display: block;
      top: fontsize(-10);
      margin: 0 auto;
    }

    &:before{
      background: #fff;
      width: fontsize(60);
      height: fontsize(20);
    }

    &:after{
      content: counter(todaytopnumber);
      display: inline-block;
      top: fontsize(-30);
      padding: 0 fontsize(6);
      width: auto;
      height: fontsize(20);
      border-radius: fontsize(100);
      background: $yellow;
      color: $color-title;
    }
  }
  .xcard {

    .content,
    .oper,
    .intro{
      margin: fontsize(16) 0;
      padding: 0 fontsize(16);
    }

    h3{
      text-align: center;
      color: $color-font;
    }
  }

  img.lazy{
    width: 100%;
    min-height: fontsize(180);
  }


}
